<div class="subscription-list">
  <div class="listHeader">
    <h2>My subscriptions</h2>
    <div class="modal-container">
      <button class="btn btn-primary" (click)="openAddSubscriptionModal()">
        Add new subscription
      </button>
    </div>
  </div>

  <div *ngIf="subscriptions.length === 0" class="alert alert-info mt-3">
    You don't have any active subscriptions yet
  </div>
  <div class="subList">
    <div *ngFor="let sub of subscriptions" class="card mt-3">
      <div class="card-body">
        <!-- Режим просмотра -->
        <div *ngIf="!sub.editing" class="cardItem">
          <h3 class="card-title">{{ sub.serviceName }}</h3>
          <div class="cardBody">
            <p class="card-text">
              <strong>Period:</strong> 
              {{ sub.startDate | date:'dd.MM.yyyy' }} - {{ sub.endDate | date:'dd.MM.yyyy' }}<br>
              <strong>Cost:</strong> {{ sub.cost  }}<br>
              <strong>Notifications:</strong> 
              <span [class.text-success]="sub.reminderEnabled" 
                    [class.text-muted]="!sub.reminderEnabled">
                {{ sub.reminderEnabled ? 'Включены' : 'Выключены' }}
              </span>
            </p>
            <div class="d-flex gap-2">
              <button class="btn btn-edit" (click)="startEditing(sub)">
                Edit
              </button>
              <button class="btn btn-delete" (click)="deleteSubscription(sub.id)">
                Delete
              </button>
            </div>
          </div>
        </div>

        <!-- Режим редактирования -->
        <div *ngIf="sub.editing" class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit subscription</h5>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="saveSubscription(sub)" class="edit-form">
                <div class="mb-3">
                  <label class="form-label">Service name</label>
                  <input type="text" class="form-control" [(ngModel)]="sub.serviceName" name="serviceName" required>
                </div>
                <div class="mb-3">
                  <label class="form-label">Start date</label>
                  <input type="date" class="form-control" [(ngModel)]="sub.startDate" name="startDate" required>
                </div>
                
                <div class="mb-3">
                  <label class="form-label">End date</label>
                  <input type="date" class="form-control" [(ngModel)]="sub.endDate" name="endDate" required>
                </div>
                
                <div class="mb-3">
                  <label class="form-label">Cost</label>
                  <input type="number" class="form-control" [(ngModel)]="sub.cost" name="cost" required>
                </div>
                
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" [(ngModel)]="sub.reminderEnabled" name="reminderEnabled"
                        (change)="sub.reminderEnabled = !sub.reminderEnabled">
                  <label class="form-check-label">Receive notifications</label>
                </div>
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="cancelEditing(sub)">Cancel</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
